body {
    color: red;
}

.title {
    font-size: 6rem;
}

.subtitle {
    font-size: 4rem;
}

@media (max-width : 500px) {
    body {
        color :blue
    }
}

@media (orientation : landscape) {
    body{
        color : green;
    }
}

@media (orientation : portrait) {
    .title{
        color : cyan;
    }
}

/* AND */
@media (orientation : portrait) and (max-width : 500px)  {
    .title{
        color : cyan;
    }
}

/* OR */
@media (orientation : portrait), (max-width : 500px)  {
    .title{
        color : cyan;
    }
}